root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

ij_javascript_indent_size = 2
ij_javascript_force_quote_style = true
ij_javascript_force_semicolon_style = true
ij_javascript_use_double_quotes = true
ij_javascript_import_merge_members = true
ij_javascript_import_sort_members = true
ij_javascript_import_sort_module_name = true
ij_javascript_imports_wrap = split_into_lines

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
